<ion-content>



  <img src="assets\images\ELO\59.jpg" alt="ELO59">

  <div class="div-container-question-one">
    <ion-text color="dark">
      <h2>Te gusta ChessColate,</h2>
    </ion-text>
  </div>

  <div class="div-container-question-two">
    <ion-text color="medium">
      <h4>Y quieres calificarnos en la tienda?</h4>
    </ion-text>
  </div>


</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="4">
      <ion-button expand="block" fill="clear" shape="round" (click)="close('after')">
        Despues...
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" fill="clear" shape="round" (click)="close('yes')">
        Si, claro!
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button expand="block" fill="clear" shape="round" (click)="close('no')">
        No.
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>