<ion-tabs>

  <ion-tab-bar slot="bottom" class="ion-no-border">

    <ion-tab-button tab="home" class="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button tab="paint">
      <ion-icon name="color-palette-outline"></ion-icon>
    </ion-tab-button> -->
    <!-- 
    <ion-tab-button tab="elo">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="train">
      <ion-icon name="barbell-outline"></ion-icon>    
    </ion-tab-button>
     -->

    <ion-tab-button tab="settings">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>