ion-header {
  .span-title-game-header {
    display: block;
  }
  .span-sub-game-header {
    display: block;
    font-size: 10px;
  }
}

.hidden-board {
  visibility: hidden;
}
.div-phrase {
  p {
    margin-bottom: 0;
    margin-top: 1rem;
  }
  margin-top: 18vh;
  .img-chessColate {
    height: 15vh;
    width: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 10vh;
  }
  .div-phrase-author {
    position: absolute;
    margin-left: 30vw;
  }
}

.div-opacity-searching {
  position: absolute;
  z-index: 9;
  height: 57vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
