<ion-header class="ion-no-border animate__fadeIn animate__delay-3s">
  <ion-toolbar>

    <ion-buttons slot="start" *ngIf="currentGame">
      <ion-button (click)="doRefresh()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ currentGame?.name }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" *ngIf="currentGame && !currentGame?.inFavorites" (click)="addToFavorites()">
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="currentGame?.inFavorites" color="danger" (click)="removeFromFavorites()">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
      <!-- <ion-button (click)="openSettings()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>

  <div class="ion-padding div-phrase" *ngIf="activeSplash">
    <div class="ion-text-center">
      <img class="img-chessColate" src="assets/images/chocolate.svg" alt="ChessColate">
    </div>
    <div class="ion-margin-top animate__animated animate__fadeIn">
      <ion-text color="dark">
        <p> {{ phrase.text }}</p>
      </ion-text>
    </div>
    <div class="div-phrase-author animate__animated animate__fadeInRight">
      <ion-text color="text">
        <p> {{ phrase.author }}</p>
      </ion-text>
    </div>

  </div>

  <div class="animate__animated animate__fadeIn animate__delay-3s">

    <div class="board" id="board1">
    </div>
    <app-board-actions-buttons [isFirstMove]="isFirstMove" [isLastMove]="isLastMove" [turn]="turn"
      (newGame)="openNewChoose($event)" (moveBack)="moveBack()" (moveInitial)="moveInitial()" (moveNext)="moveNext()"
      (moveEnd)="moveEnd()">
    </app-board-actions-buttons>

    <img src="assets/images/separator.png">

    <ion-spinner *ngIf="loadingDots" name="dots"></ion-spinner>

    <ion-list class="ion-margin-top">
      <!-- <ion-list-header>
        <ion-label>
           Poner buscador por nombre
         </ion-label>
        <ion-button color="danger">
          <ion-icon name="heart-circle"></ion-icon>
        </ion-button>
      </ion-list-header> -->

      <ng-container *ngFor="let game of gamesSearched">
        <app-item-game *ngIf="game !== currentGame" [setGame]="game" (clicked)="onClickOnGame($event)"
          (delete)="confirmDeleteGame($event)"></app-item-game>
      </ng-container>

    </ion-list>

  </div>


</ion-content>