<ion-header>
  <ion-toolbar>
    <ion-title>Paint</ion-title>
    <ion-buttons slot="end">

      <ion-button>
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon slot="icon-only" name="brush"></ion-icon>
      </ion-button>

      <ion-button>
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>


    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <canvas #myCanvas></canvas>

  <div  *ngIf="!showingCanvas" class="board" id="boardPaint">
  </div>

  <ion-item>
    <ion-label>Mostrar lienzo</ion-label>
    <ion-toggle (ionChange)="onChangeShowCanvas($event)" color="primary"></ion-toggle>
  </ion-item>


</ion-content>