<ion-row>
  <ion-col size="2" class="ion-text-center">
    <ion-button size="small" color="dark" fill="clear" (click)="clickNew($event)">
      <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col size="8" class="ion-text-center">

    <ion-button (click)="emitMoveBackAll()" size="small" color="dark" fill="clear" [disabled]="isFirstMove">
      <ion-icon slot="icon-only" name="play-skip-back-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="emitMoveBack()" size="small" color="dark" fill="clear" class="ion-margin-end"
      [disabled]="isFirstMove">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="emitMoveFront()" size="small" color="dark" fill="clear" class="ion-margin-start"
      [disabled]="isLastMove">
      <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="emitMoveFrontAll()" size="small" color="dark" fill="clear" [disabled]="isLastMove">
      <ion-icon slot="icon-only" name="play-skip-forward-outline"></ion-icon>
    </ion-button>

  </ion-col>

  <ion-col offset="1" size="1">
    <div class="div-turn" [ngClass]="{'white-turn': !turn || turn === 'white', 'black-turn': turn && turn === 'black' }">
    </div>
  </ion-col>
</ion-row>